# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
/.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.flaskenv
.env

# vercel
.vercel

#python
**/__pycache__

#data
/api/data/general/DataCatalog*
/api/data/general/partInfo/*
/api/data/powertrain/generator/assetMileage/*
/api/data/powertrain/generator/gads/*
/api/data/powertrain/generator/maintenance/*
/api/data/powertrain/generator/timeseries/*
!/api/data/general/FacilitiesList.csv
!/api/data/general/partInfo/4.1.3 Generator.csv
!README.md

